<a href="https://colab.research.google.com/github/ckd1618/colabRepo/blob/main/kaggle031524.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import pandas
import pandas as pd

In [ ]:
#create a dataframe
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'],
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

In [ ]:
#create a series
#pd.Series([1, 2, 3, 4, 5])
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

In [ ]:
#read a csv
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv")

In [ ]:
#read the shape (rows and columns)
wine_reviews.shape

In [ ]:
#read the head
wine_reviews.head()

In [ ]:
#add index to the csv that you read
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

In [ ]:
#SECTION 2 --------------------------------------------------

In [ ]:
#read the csv, add indexes, print at max 5 rows:
import pandas as pd
reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
pd.set_option('display.max_rows', 5)

In [ ]:
#display reviews:
reviews

In [ ]:
#print out just the data for the column called country
reviews.country
#or
#reviews['country providence']
#or
reviews['country'][0] #note that this is column first, then row
#csv's in python are like a mirrored json

In [ ]:
#grab the first row of the csv
reviews.iloc[0] #note that this is row first, then column, so 0 is the row, and the unspecified column means it gets them all
#to get all columns, you specify nothing, but to get all rows you specific nothing in a range [:,0]

In [ ]:
#get all rows in a specific column:
reviews.iloc[:,0]

In [ ]:
#get the first 3 rows of the 0th column with iloc
review.iloc[3,0] #essentially the first argument of 3 assumes the equivalent of 0:3

In [ ]:
#select rows 0,1,2 from column 0:
reviews[[0,1,2], 0] #if you want to specify specific rows rather than a range, you use a list

In [ ]:
#use iloc to get the last five rows, with all their columns
reviews.iloc[-5:] #notice that when you aren't passing in a second argument, you don't need to nest the array in another array

In [ ]:
#use loc to get the 0th row in the country column:
reviews.loc(0, 'country')

In [ ]:
#use loc to get all the rows in 3 specific columns
reviews.loc(:, ['taster_name', 'taster_twitter_handle', 'points'])
#whenever you specify specific rows or columns, you must use an internal list

In [ ]:
#range for rows: use : (blank : gets all the rows)
#range for columns: not sure but (blank gets all the columns)
#specific rows: [1,2,3] (both iloc and loc)
#specific columns: ['food', 'nourishment', 'cheese']

In [ ]:
#how do you set the index?
reviews.set_index("title")
#I dont actually know how this works

In [ ]:
#output the column country with all the rows, but have each cell be True/False if Italy
reviews.country == 'Italy'

In [ ]:
#same thing but show the whole row, and only the rows where True (and display Italy instead of True)
reviews.loc[reviews.country == 'Italy'] #this is basically a filter feature
#now filter for 90 points as well as above
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]
#now do or instead of and
reviews.loc[(reviews.country == 'Italy') | (reviews.points >= 90)]

In [ ]:
#what if I want to select from a list of countries: Italy and France
reviews.loc[revews.country.isin(['Italy', 'France'])]

In [ ]:
#find prices which are not null
reviews.loc[reviews.price.notnull()]
#find prices what are null
reviews.loc[reviews.price.isnull()]

In [ ]:
#assign a value to all rows in the critic column:
reviews['critic'] = 'everyone'

In [ ]:
#assign a number in reverse to the column 'index_backwards'
reviews['index_backwards'] = range(len(reviews), 0, -1)

In [ ]:
# section 3------------------------------------------------------------

In [ ]:
#how do you output the count, unique, top, freq of a column
reviews.taster_name.describe()

In [ ]:
#how to get the mean
reviews.points.mean()

In [ ]:
# how do you output an array of UNIQUE values found in a column's data
reviews.taster_name.unique()

In [ ]:
#how to generate a list of values and how often they occur for a column
reviews.taster_name.value_counts()

In [ ]:
#show how to pass a lambda into a map
review_points_mean = reviews.points.mean()
reviews.points.map(lambda p: p - review_points_mean)

In [ ]:
#9. How do you transform a whole DataFrame by calling a custom method on each row?
def remean_points(row):
  row.points = row.points - review_points_mean
  return row
reviews.apply(remean_points, axis='columns')

In [ ]:
#10. How do I limit the output of .head() which shows the first 5 rows
reviews.head(1)

In [ ]:
#11. How do I subtract the mean from every row in a column?
review_points_mean = reviews.points.mean()
reviews.points - review_points_mean

In [ ]:
#12. How do I combine two rows into a single output row with a dash in between?
reviews.country + " - " + reviews.region_1

In [ ]:
# section_4----------------------------------------------

In [ ]:
#what is another way to achieve value_counts() with groupby
reviews.groupby('points').points.count()

In [ ]:
#show me how to get the cheapest wine in each point value category with groupby
reviews.groupby('points').price.min()

In [ ]:
#4
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

In [ ]:
#5
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

In [ ]:
#6
reviews.groupby(['country']).price.agg([len, min, max])

In [ ]:
#7
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

In [ ]:
#8
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

In [ ]:
#9
countries_reviewed.reset_index()

In [ ]:
#10
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

In [ ]:
#11
countries_reviewed.sort_values(by='len', ascending=False)

In [ ]:
#12
countries_reviewed.sort_index()

In [ ]:
#13
countries_reviewed.sort_values(by=['country', 'len'])

In [ ]:
#section 5-------------------------------------------

In [ ]:
#2
reviews.price.dtype

In [ ]:
#3
reviews.dtypes

In [ ]:
#4
reviews.points.astype('float64')

In [ ]:
#5
reviews.index.dtype

In [ ]:
#6
reviews[pd.isnull(reviews.country)]

In [ ]:
#7
reviews.region_2.fillna("Unknown")

In [ ]:
#8
reviews.taster_twitter_handle.replace("@kerinokeefe", "@kerino")

In [ ]:
#section -----------------------------------------------------

In [ ]:
#2
reviews.rename(columns={'points': 'score'})

In [ ]:
#3
reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

In [ ]:
#4
reviews.rename_axis("wines", axis='rows').rename_axis("fields", axis='columns')

In [ ]:
#5
canadian_youtube = pd.read_csv("../input/youtube-new/CAvideos.csv")
british_youtube = pd.read_csv("../input/youtube-new/GBvideos.csv")

pd.concat([canadian_youtube, british_youtube])

In [ ]:
#6
left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])

left.join(right, lsuffix='_CAN', rsuffix='_UK')